<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio1</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../imgs/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section1">
        <nav>
            <ul>
                <li class="logo-desktop"><img src="../imgs/logo 1.svg" alt="logo"></li>
                <li class="logo-mobile"><img src="../imgs/logo 2.svg" alt="logo"></li>
                <li class="group">
                    <a href="#">About me</a>
                    <a href="#">Skills</a>
                    <a href="#">Portfolio</a>
                    <a class="contactMe" href="#">CONTACT ME</a>
                </li>
                <li class="menu"><img class="dropbtn" src="../imgs/Group 8.svg" alt="menu"></li>
                <div class="dropdown-content">
                    <a href="#">About me</a>
                    <a href="#">Skills</a>
                    <a href="#">Portfolio</a>
                    <a href="#">CONTACT ME</a>
                  </div>
            </ul>
        </nav>
        <div class="line1">
            <div class="boxa">
            <div class="text-desktop">
                <p class="one">Hi, I am</p>
                <p class="two">Tomasz Gajda</p>
                <p class="three">Front-end Developer / UI Designer</p>
            </div>
            <div class="text-mobile">
                <p class="one">my name is Thomas</p>
                <p class="two">I'M A DEVERLOPER</p>
                <p class="three"></p>
            </div>
         
         <div class="icons">
            <div class="icon1 i"></div>
            <div class="icon2 i"></div>
            <div class="icon3 i"></div>
         </div>
        </div>
        


         <div class="boxb">
            <div class="text">this is not my photo, but I clearly hope to get one just like this</div>
         </div>
        </div>
        </div>
        

    </section>
    <section class="main">
        <h2 class="header">IT BERRIES</h2>
        <p class="p1">
            Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est. Morbi commodo, eros in dignissim tempus, lacus odio rutrum augue, in semper sem magna quis tellus. Etiam enim erat, suscipit eu semper a, dictum sit amet elit. Nunc egestas nisi eget enim gravida facilisis. Pellentesque laoreet varius turpis vel pharetra. Ut ante justo, consequat vitae elementum tempor, accumsan nec eros. 
        </p>
        <p class="readmore">READ MORE</p>
    </section>
    <div>
        <button class="about">About me</button>
        <p class="para">Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</p>
        <button class="explore">Explore</button>
        <img class="separatorBlack" src="../imgs/separatorBlack 1.svg" alt="separator">
    </div>
    <section class="main2">
        <div class="design1">
            <h3>DESIGN</h3>
            <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
        </div>
        <div class="design2">
            <h3>DEVELOPMENT</h3>
            <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
        </div>
    </section>
<div class="design3">
    <h3>MAINTENANCE</h3>
    <p>I can design the site based on your needs and suggestions. I can also design the site from scratch and consult you during the job.</p>
   
</div>
<img class="separatorBlack" src="../imgs/separatorBlack 1.svg" alt="separator">
<button class="skills">Skills</button>

<div class="container">
<h3 class="usingNow">USING NOW:</h3>

<div class="box-container">
    <div class="box">
        <img src="../imgs/html.svg" alt="">
        <h3>HTML5</h3>
    </div>
    <div class="box">
        <img src="../imgs/css.svg" alt="">
        <h3>CSS</h3>
    </div>
    <div class="box">
        <img src="../imgs/sass.svg" alt="">
        <h3>SASS</h3>
    </div>
    <div class="box">
        <img src="../imgs/java.svg" alt="">
        <h3>JAVASCRIPT</h3>
    </div>
    <div class="box">
        <img src="../imgs/react.svg" alt="">
        <h3>REACT</h3>
    </div>
    <div class="box">
        <img src="../imgs/boot.svg" alt="">
        <h3>BOOTSTRAP</h3>
    </div>
    <div class="box">
        <img src="../imgs/git.svg" alt="">
        <h3>GIT</h3>
    </div>
    <div class="box">
        <img src="../imgs/figma-1 1.svg" alt="">
        <h3>FIGMA</h3>
    </div>
 </div>
</div>
 
<div class="container2">
    <h3 class="learning">LEARNING:</h3>
    
    <div class="box-container2">
        <div class="box">
            <img src="../imgs/nodejs.svg" alt="">
            <h3>NODEJS</h3>
        </div>
        <div class="box">
            <img src="../imgs/mysql.svg" alt="">
            <h3>MySQL</h3>
        </div>
        <div class="box">
            <img src="../imgs/mongodb.svg" alt="">
            <h3>MONGODB</h3>
        </div>
        <div class="box">
            <img src="../imgs/typescript.png" alt="">
            <h3>TYPESCRIPT</h3>
        </div>
        </div>
        </div>

        <div class="container3">
            <h3 class="otherSkills">OTHER SKILLS:</h3>
            
            <div class="box-container3">
                <div class="box">
                    <img src="../imgs/british.svg" alt="">
                    <h3>ANGIELSKI C1/C2</h3>
                </div>
                <div class="box">
                    <img src="../imgs/spain.svg" alt="">
                    <h3>HISZPAŃSKI B1/B2</h3>
                </div>
                <div class="box">
                    <img src="../imgs/c++.svg" alt="">
                    <h3>C++</h3>
                </div>
                <div class="box">
                    <img src="../imgs/c.svg" alt="">
                    <h3>C</h3>
                </div>
                </div>
                </div>

                <div class="portfolio">
                    <button class="portbtn">PORTFOLIO</button>
                </div>
          <div class="black">
            <div class="column">ALL</div>
            <div class="column">CODED</div>
            <div class="column">DESIGNED</div>
          </div>
    <div class="pictures">
        <div class="img1"><img src="../imgs/1.png" alt=""></div>
        <div class="img1"><img src="../imgs/2.png" alt=""></div>
        <div class="img1"><img src="../imgs/3.png" alt=""></div>
        <div class="img1"><img src="../imgs/4.png" alt=""></div>
        <div class="img1"><img src="../imgs/3.png" alt=""></div>
        <div class="img1"><img src="../imgs/1.png" alt=""></div>
    </div>

    <footer class="footer">And many more to come!</footer>

    <div class="contact">
        <button class="contactbtn">CONTACT</button>
    </div>
    <p class="pbtn">Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.</p>

    <img class="separatorBlack" src="../imgs/separatorBlack 1.svg" alt="separator">

<div class="namebtn">
    <button class="btn" placeholder="ENTER YOUR NAME*">ENTER YOUR NAME*</button>
    <button class="btn" placeholder="ENTER YOUR NAME*">ENTER YOUR EMAIL*</button>
    <button class="btn" placeholder="ENTER YOUR NAME*">PHONE NUMBER</button>
    <button class="btn1" placeholder="ENTER YOUR NAME*">YOUR MESSAGE*</button>
    


</div>

<div class="submit">
    <p>SUBMIT</p>
</div>

<section class="section3">
    <img class="arrow" src="../imgs/ic_baseline-double-arrow.svg" alt="">
    <h4>BACK TO TOP</h4>
    <div class="icons">
        <div class="icon1 i"></div>
        <div class="icon2 i"></div>
        <div class="icon3 i"></div>
        <div class="icon4 i"></div>
     </div>
     <p><strong>@2020 Tomasz Gajda</strong> All Rights Reserved.</p>
</section>

</body>
</html>